.array-container{
    display: flex;
    justify-content: center;
    align-items: end;
    min-height: 500px;
}

.array-bar{
    width: 10px;
    margin: 0 2px;
    background-color: white;
    transition: height 0.3s ease;
}